PHP_ex5/view/user.php
PHP_ex5/view/index_vue.php
PHP_ex5/view/book.php
PHP_ex5/view/add_emprunt.php
PHP_ex5/view/emprunt.php
PHP_ex5/controller/book_controller.php
PHP_ex5/controller/redirection_controller.php
PHP_ex5/model/book_model.php
/netbeans/Code_Squadron_PHP/nbproject/private/
netbeans/Code_Squadron_PHP/nbproject/project.properties
netbeans/Code_Squadron_PHP/nbproject/project.xml