<div class="conteneur ">
   <div class="row">
      <div class="  offset-s3 col 5 center">
         <h1>Voici les commandes passées sur le site</h1>
         <span>
         Nombre de commande(s) : <?php value.getNobreDeCommandes(); ?>
         </span>
         <table class="responsive-table highlight centered striped">
            <?php value.AfficheMenbresite(); ?>
         </table>
         <p>
            <br />Calcul du montant total des revenus: <?php value.getTotalDesRevenus(); ?> <br />
            le chiffre d'affaires de la societe est de : <?php value.getChiffreAffaires(); ?> €<br />
         </p>
      </div>
   </div>
</div>
