<section>
          <div class="conteneur">
             <a href="?action=affichage">Affichage des produits</a><br />
             <a href="?action=ajout">Ajout d'un produit</a><br /><br />
             <hr />
             <br />

             <h2> Affichage des produits </h2>
             Nombre de produit(s) dans la boutique : <?php value.getNombreProduit(); ?>
             <table class="responsive-table highlight centered striped">
                      <?php value.AfficheProduit() ?>
             </table>
             <br />
             <hr />
             <br />
          </div>
</section>
