<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>a</title>
      <link rel="stylesheet" href="../assets/css/style_singup.css">
      <link rel="stylesheet" href="../assets/css/materialize.css">



</head>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
<body>
  <hgroup>
  <h1 class="center">Se connecter a la boutique</h1>
</hgroup>
<form>
  <div class="group">
        <label>Email</label>
    <input type="text"><span class="highlight"></span>

  </div>
  <div class="group">
      <label>Mot de pass</label>
    <input type="password"><span class="highlight"></span>

  </div>
  <button type="button" class="waves-effect waves-light btn ">Subscribe </button>
</form>

    <script src="js/index.js"></script>
