<script>

if($_POST) {
  $resultat = executeRequete("SELECT * FROM membre WHERE pseudo='$_POST[pseudo]'");
  if($resultat->num_rows != 0) {
    $membre = $resultat->fetch_assoc();
    if($membre['password'] == $_POST['password']) {
      foreach($membre as $indice => $element) { if($indice != 'mdp'){ $_SESSION['membre'][$indice] = $element; } }
      header("location:profil.php");
    } else {
      $contenu .= "<div class='erreur'>Mot de passe incorrect !</div>";
    }
  } else {
    $contenu .= "<div class='erreur'>Ce pseudo n'existe pas !</div>";
  }
}

</script>
    
<h1 class="center">Se connecter a la boutique</h1>
<form action="" method="post">
  <div class="group">
        <label>Pseudo</label>
    <input type="text" id="pseudo" name="pseudo"><span class="highlight"></span>
  </div>
  <div class="group">
      <label>Mot de pass</label>
    <input type="password" id="mdp" name="mdp">

  </div>
  <button type="submit" class="waves-effect waves-light btn ">Connection </button>

</form>
