<div class="conteneur">
        <p class="center-align">Bonjour
               <strong><?php echo(value.namet()); ?></strong>
        </p>
        <div class="cadre row">
                <h2> Voici vos informations de profil </h2>
                <p>
                        votre email est: <?php value.getmail(); ?><br>
                        votre ville est:  <?php value.getville(); ?> <br>
                        votre cp est: <?php  value.getcodepostall()?><br>
                        votre adresse est: <?php value.getaddress() ?>
                </p>
        </div>

</div>
